[submodule "python/openCvTranforms"]
	path = python/openCvTranforms
	url = https://github.com/jbohnslav/opencv_transforms.git
[submodule "python/bluetoothLowEnergy"]
	path = python/bluetoothLowEnergy
	url = https://github.com/pybluez/pybluez.git
