# Hidden folders/files
tmp/nanoc/
materialy
python/libtorch
python/MNIST
python/PetImages
python/training_data.npy
python/data
python/kinect_leap_dataset
python/openCvTranforms
python/laRED_dataset
kivy_venv